/* sidebar */ 

.sidebar {
  // Set the grid area
  grid-area: sidebar;
  // Add padding of 2rem
  padding: 2rem;
  // Set the background color
  background-color: $black;
  // Set the transiiton proeprty
  transition: all .5s;

  /* sidebar master */ 

  &__master {
    // Set the height to 100% of parent
    height: 100%;
    // Set the display to grid with 1 column by 2 rows
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    // Set the grid gap to 2 rem
    grid-gap: 2rem;
  }

  /* sidebar detail */ 

  &__detail {
    // Set the height to 100% of parent
    height: 100%;
    // Set the display to grid with 1 column by 5 rows
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,min-content) 1fr;
    // Set the grid gap to 2 rem
    grid-gap: 2rem;
    }

    /* media query for sidebar */ 

    @media only screen and (max-width: $tablet) {
      // display to hidden
      visibility: hidden;
      // Set the height to 0
      height: 0;
      // Set the opacity to zero
      opacity: 0;
      // Set the grid area to its default
      grid-area: auto;
      // Position the element fixed
      position: fixed;
      // Set the z index to 10 so its above everything besides the header
      z-index: 10;
      // Set the width
      width: 100vw;
      // Set the positions of eleemnt
      top: -8rem;
      left: 0;
    }
}