/* sidebar */ 

.sidebar {
  // Set the grid area
  grid-area: sidebar;
  // Add padding
  padding: 2rem;
  // Set the background color
  background-color: $black;

  /* sidebar master */ 
  &__master {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-gap: 2rem;
  }

  /* sidebar detail */ 
  &__detail {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,min-content) 1fr;
    grid-gap: 2rem;
    }
}