// Colors
$primary-light: #51cf66;
$primary: #37b24d;
$primary-dark: #2b8a3e;
$secondary: #7048e8;
$secondary-light: #845ef7;
$secondary-dark: #5f3dc4;
$error-light: #ff922b;
$error: #f76707;
$error-dark: #d9480f;
$grey-light: #f8f9fa;
$grey-dark: #343a40;
$black: #212529;
// Breakpoints
$tablet: 56.25em; // 900px
$phone: 37.50em; // 600px