/* button */ 

.button {
  // Set the display to flex
  display: flex;
  // Center the elements on the main and cross axis
  align-items: center;
  justify-content: center;
  // Set the font properties
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  // Set the padding
  padding: 1rem 3rem;
  // Set the border properties
  border: none;
  border-radius: .5rem;
  // Set the cursor
  cursor: pointer;
  // Set the transition of all proeprties to .2 seconds
  transition: all .2s;
  
  /* button primary */ 

  &--primary {
    // Set the colors
    color: $grey-light;
    background-color: $primary;

    /* button primary states */ 
    &:hover:enabled,
    &:active:enabled {
      background-color: $primary-dark;
    }

    &:focus:enabled {
      outline-color: $primary-light;
    }
  }

  /* loading button */ 

  &--loading {
    svg {
      display: inline-block;
      height: 1.6rem;
      width: 1.6rem;
      fill: $grey-light;
      // Set the animation
      animation: spinnerAnimation 2s infinite linear;
    }
  }

  /* button back */ 

  &--back {
    // Set the padding
    padding: 0;
    // Set the background to transparent
    background-color: transparent;

    /* svg on the back button */ 
    
    svg {
      display: inline-block;
      height: 2rem;
      width: 2rem;
      fill: $primary;
    }

    /* button back states */ 

    &:hover svg,
    &:active svg{
      fill: $primary-dark;
    }

    &:focus{
      outline-color: $primary-light;
    }
  }

   /* button delete */ 

   &--delete {
    // Set the padding
    padding: 0;
    // Set the background to transparent
    background-color: transparent;

    /* svg on the back button */ 
    
    svg {
      display: inline-block;
      height: 2rem;
      width: 2rem;
      fill: $error
    }

    /* button delete states */ 

    &:hover svg,
    &:active svg{
      fill: $error-dark;
    }

    &:focus{
      outline-color: $error-light;
    }
  }
}