/* form */ 

.form {
  // Create a grid with 2 columns and 3 rows
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(3,min-content);
  grid-gap: 1rem;

  /* form input */ 

  &__input {
    // Set the display to an inline-block
    display: inline-block;
    // Set the font style
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: $grey-dark;
    background-color: $grey-light;
    // Add padding of .5 vertical and 1.5 horizontal
    padding: .5rem 1.5rem;
    // Remove the border and add a radius
    border: none;
    border-radius: .5rem;
    // Set the transition for all properties to .2 seconds
    transition: all .2s;

    /* form input states */ 
    
    &:focus:invalid {
      outline-color: $error
    }

    &:focus:valid {
      outline-color: $primary;
    }

    /* form input placeholder */

    &::placeholder {
      color: $grey-dark;
    }
  } 

     /* form label */ 

     &__label {
      // Set the display to an inline-block
      display: inline-block;
      width: 2rem;

      svg {
        display: inline-block;
        height: 2rem;
        width: 2rem;
        fill: $primary;
      }
    }
}