/* photo */ 

.photo {
  // Set the display to a block
  display: block;
  // Set the border properties
  border: .2rem solid $primary;
  border-radius: .5rem;
  // Set the size proeprties
  height: 15rem;
  width: 20rem;
  // Set the background properties
  background-color: $primary;
  background-image: url('../assets/img/placeholder.svg');
  background-size: cover;
  background-position: center;

  /* photo trip */ 
  
  &--trip {
  // Center the item on the vertical and horizontal axis in its cell
  justify-self: center;
  align-self: center;
  }
}