/* trip */ 

.trip {

  // Set the display to a grid with 1 column by x rows
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 2rem;
  /* trip item */ 

  &__item {
  // Add 1 rem of padding
  padding: 1rem;
  // Set the font and background color
  color: $grey-light;
  background-color: $grey-dark;
  // Create a border radius of .5rem
  border-radius: .5rem;
  // Create a grid with 2 columns by x rows
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: min-content;
  // Set the grid gap to .5rem horizontal and 1 rem vertical
  grid-gap: .5rem 1rem;
  }

  /* trip label */ 

  &__label {
    // Set the display to inline block
    display: inline-block;
    // Set the size properties
    height: 2rem;
    width: 2rem;
    // Chaneg the color
    fill: $primary;
  }

  /* trip value */ 

  &__value {
    // Set the display to inline block
    display: inline-block;

  }

}