/* trips */ 

.trips {

  // Set the height to 100% of parent
  height: 100%;
  overflow: scroll;

  /* trips list */

  &__list {
    // Remove list styles
    list-style: none;
  }

  /* trips item */

  &__item {
    cursor: pointer;
    // Set the font color
    color: $grey-light;
    // Set the background color
    background-color: $grey-dark;
    border-radius: .5rem;
    // Add padding
    padding: 1rem;
    // Set the display to 2 column by 3 row grid
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(3,min-content);
    // Set the gap to 1rem
    grid-gap: 1rem;


    /* not the last li in the list */

    &:not(:last-of-type) {
      // Add a bottom margin
      margin-bottom: 1rem;
    }
  }

  /* trips detail */ 

  &__detail {
    // Set the display toa  flex with a direction of row
      display: flex;
      // Align the items on the cross axis in the center
      align-items: center;
  }

  /* trips label */

  &__label{
    display: inline-block;
    // The size properties
    height: 1.6rem;
    width: 1.6rem;
    // Set teh color
    fill: $primary;
    // Add a margin to the right
    margin-right: .5rem;
  }

  /* trips value */ 

  &__value {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  /* trips arrow */ 

  &__arrow {
    // Set the display to block
    display: inline-block;
    // Set the size properties
    height: 2rem;
    width: 2rem;
    // Set the color to primary
    fill: $primary;
    // Set the grid row and colum place
    grid-column: 2/-1;
    grid-row: 1/-1;
    // Align the element in the vertical axis in the center
    align-self: center;
  }
}