/* body */ 

body {
  // Set the font properties
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $grey-dark;
  // Set the line height to 1.6 times the font size
  line-height: 1.6;
}

/* heading */

.heading {
  // Set the font weight
  font-weight: 500;

  /* heading 1 */ 
  &--1 {
    font-size: 4rem;
  }

  /* heading 3 */ 
  &--3 {
    font-size: 2.5rem;
  }
  
  /* heading white */ 
  &--white {
    color: $grey-light;
  }
}