/* align */ 

.align--center {
  text-align: center;
}

/* margin right */ 

.mr {

  /* margin right small */

  &--small {
    margin-right: 1rem;
  }

  /* margin right medium */

  &--medium {
    margin-right: 2rem;
  }

  /* margin right large */

  &--large {
    margin-right: 4rem;
  }

  /* margin right auto */
  
  &--auto {
    margin-right: auto;
  }
}

/* margin bottom */ 

.mb {
  /* margin bottom small */
  
  &--small {
    margin-bottom: 1rem;
  }

  /* margin bottom medium */

  &--medium {
    margin-bottom: 2rem;
  }

  /* margin bottom large */

  &--large {
    margin-bottom: 4rem;
  }
}

/* hidden class */ 

.hidden {
  display: none;
}